<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--被Spring托管的所有类-->

    <!-- 使用Spring来创建对象，在Spring中这些都称为Bean

    类型 变量名 = new 类型();
    Hello hello = new Hello();

    id = 变量名 (Bean的唯一标识符)
    class = new 的对象 (类的全限定名: 包名+类名)
    property 相当于给对象中的属性设置一个值！

    value: 具体的一个值，用于基本的数据类型
    ref: 引用Spring容器中创建好的对象
     -->
    <bean id="hello" class="com.study.pojo.Hello">
        <property name="str" value="Spring"/>
    </bean>

</beans>












